body > .container{
    text-align:center;
    background-color:#6495ED;
}

#title {
    font-size:300%;
    color:white
}

.display-area{
    background-color: white;
    font-size: 1em;
}

body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:left top;
    background-size: cover;
    background-image: url("background.jpg");
}

div{
    margin:0px auto;
}

.footer > .container {
    background-color: #f5f5f5;
}
