{% include "header.html" %}
  {% include "nav.html" %}
  <div class="display-area w-75 p-3">
    <table class="table">
    <thead>
        <tr>
        <th scope="col">商品</th>
        <th scope="col">食材</th>
        <th scope="col">數量</th>
        <th scope="col">單位</th>
        </tr>
    </thead>
    <tbody>
        {% for data in product %}
        <tr>
            <th scope="row">{{data.name}}</th>
        </tr>
            {%for value in data.recipe%}
        <tr>
            <th></th>
            <td>{{value.ingredient.name}}</td>
            <td>{{value.amount}}</td>
            <td>{{value.unit}}</td>
        </tr>
            {% endfor %}

        {% endfor %}
    </tbody>
    </table>
</div>
  </body>
</html>
