{% load static %}
{% include "header.html" %}
  {% include "nav.html" %}

{% comment %} 取用method {% endcomment %}
    <div class="display-area">
        <h2>Month</h2>
        <div class='col-sm-6'>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>

{% comment %} 顯示圖表 {% endcomment %}
<script>
    $.ajax({
        method: "GET",
        url: '/api/2018/10/store/',
        success: function(data){
            labels = data.labels
            defaultData = data.detail
            var barChartData = {
			labels: labels,
			datasets: [{
				label: '經典總匯三明治',
				backgroundColor: 'rgba(255, 99, 132, 0.2)',
				data: [
					defaultData[0][0],
					defaultData[1][0],
                    defaultData[2][0]
				]
			}, {
				label: '美式牛肉起司堡',
				backgroundColor: 'rgba(54, 162, 235, 0.2)',
				data: [
					defaultData[0][1],
					defaultData[1][1],
                    defaultData[2][1]
				]
			}, {
				label: '培根熱狗大亨堡',
				backgroundColor: 'rgba(255, 206, 86, 0.2)',
				data: [
					defaultData[0][2],
					defaultData[1][2],
                    defaultData[2][2]
				]
			}, {
				label: '黃金脆薯',
				backgroundColor: 'rgba(75, 192, 192, 0.2)',
				data: [
					defaultData[0][3],
					defaultData[1][3],
                    defaultData[2][3]
				]
			}, {
				label: '主廚特調鮮奶茶',
				backgroundColor: 'rgba(153, 102, 255, 0.2)',
				data: [
					defaultData[0][4],
					defaultData[1][4],
                    defaultData[2][4]
				]
			}]

		};
            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
                type: 'horizontalBar',
                data: barChartData,
                options: {
                    scales: {
                        yAxes: [{
                            stacked: true,
                            ticks: {
                                beginAtZero:true
                            }
                        }],
                        xAxes: [{
                            stacked: true
                        }]
                    }
                }
            });
        }
    })
</script>

{% include "footer.html" %}
