{% extends "Base.html" %}
{% block content %}

<form action='' method="POST">
        {% csrf_token %}
    <div class="form-container">
        <div class="form-group">
                <select class="form-control" name="date">
                    {% for date in dates %}
                    <option value="{{date}}">{{date}}月
                    </option>
                    {% endfor %}
                </select>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block">查詢</button>
        </div>
    </div>
</form>

{% if totalEarnings %}
<h2>{{date}}月</h2>
<h2>本月總營業額: {{totalEarnings}}</h2>
<table class="table">
        <thead>
            <th>產品</th>
            <th>營業額</th>
        </thead>
        <tbody>
            {% for productTotalEarning in productTotalEarningList %}
<tr>
    <td>{{productTotalEarning.0}}</td>
    <td>{{productTotalEarning.1}}</td>
</tr>
{% endfor %}
    </tbody>
    </table>


    {% endif %}

{% endblock %}