<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"> <!--可以顯示中文字體-->
        <title>早午餐店產銷資訊系統</title>
        {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1"> {% endcomment %}
        {% include "css.html" %}
        {% include "js.html" %}
      </head>
    <body>

