{% include "header.html" %}
{% include "nav.html" %}
{% load static %}

    <img src="/static/Logo.png" class="img-fluid mx-auto d-block">
    <div class="container md-3 mt-3">
      <b id=title class=''>早午餐店<br>產銷資訊系統</b>
    </div>
  </body>
</html>
