{% extends "Base.html" %}
{% block content %}



<form action='' method='post'>
    {% csrf_token %}
{{ form.as_p }}
<input type='submit' value='Submit' />
</form>
{{ error }}
{% if ingredientAmountList %}

{% if store %}
<h2>{{store.name}}</h2>
{% else %}
<h2>所有店家(當前為admin登入，若要查看個別分店請以分店帳登入)</h2>
{% endif %}
<h3>from {{beginDate}}  to  {{dueDate}}</h3>
{% if ingredientAmountList.0.1 < 1 %}

<h1>本日為休息日</h1>
{% endif %}
<table>
<thead>
    <tr>
        <td>原料</td>
    <td>數量</td></tr>
</thead>
<tbody>
{% for ingredientAmount in ingredientAmountList %}
<tr>
    <td>{{ingredientAmount.0}}</td>
    <td>{{ingredientAmount.1|floatformat}}</td>
</tr>

{% endfor %}
</tbody>
</table>


{% endif %}

{% endblock %}