{% extends "Base.html" %}
{% block content %}


<b>原料訂單預測</b>(每日訂購模型)
<form class='form-group' action='' method='post'>
請輸入要預測的日期：
    {% csrf_token %}
{{ form.as_p }}
<input type='submit' value='Submit' />
</form>
{{ error }}
{{errorMessage}}
{% if ingredientAmountList %}

{% if store %}
<br>
<h2>分店：{{store.name}}</h2>
{% else %}
<h2>所有店家(當前為admin登入，若要查看個別分店請以分店帳登入)</h2>
{% endif %}
{% if ingredientAmountList.0.1 < 1 %}

<h1>本日為休息日</h1>
{% endif %}
<table class= table>
<thead>
    <tr>
        <td><b>原料名稱</td>
        <td><b>預測訂購數量</td>
        <td><b>單位</td>
    </tr>
</thead>
<tbody>{% for i in ingredientAmountList %}{% ifequal i.0 '土司' %}
	<tr><td>{{i.0}}</td><td>{{i.1}}</td><td>{{i.2}}</td></tr>
{% endifequal %}
{% ifequal i.0 '蛋' %}
 <tr><td>{{i.0}}</td><td>{{i.1}}</td><td>{{i.2}}</td></tr>
{% endifequal %}
{% ifequal i.0 '美生菜' %}
 <tr><td>{{i.0}}</td><td>{{i.1}}</td><td>{{i.2}}</td></tr>
{% endifequal %}
{% ifequal i.0 '火腿' %}
 <tr><td>{{i.0}}</td><td>{{i.1}}</td><td>{{i.2}}</td></tr>
{% endifequal %}
{% ifequal i.0 '豬排片(冷凍包)' %}
 <tr><td>{{i.0}}</td><td>{{i.1}}</td><td>{{i.2}}</td></tr>
{% endifequal %}
{% ifequal i.0 '番茄' %}
 <tr><td>{{i.0}}</td><td>{{i.1}}</td><td>{{i.2}}</td></tr>
{% endifequal %}
{% ifequal i.0 '起司片' %}
 <tr><td>{{i.0}}</td><td>{{i.1}}</td><td>{{i.2}}</td></tr>
{% endifequal %}
{% ifequal i.0 '漢堡皮' %}
 <tr><td>{{i.0}}</td><td>{{i.1}}</td><td>{{i.2}}</td></tr>
{% endifequal %},
{% ifequal i.0 '牛肉漢堡排(冷凍包)' %}
 <tr><td>{{i.0}}</td><td>{{i.1}}</td><td>{{i.2}}</td></tr>
{% endifequal %}
{% ifequal i.0 '洋蔥' %}
 <tr><td>{{i.0}}</td><td>{{i.1}}</td><td>{{i.2}}</td></tr>
{% endifequal %}
{% ifequal i.0 '大亨堡' %}
 <tr><td>{{i.0}}</td><td>{{i.1}}</td><td>{{i.2}}</td></tr>
{% endifequal %}
{% ifequal i.0 '培根' %}
 <tr><td>{{i.0}}</td><td>{{i.1}}</td><td>{{i.2}}</td></tr>
{% endifequal %}
{% ifequal i.0 '熱狗' %}
 <tr><td>{{i.0}}</td><td>{{i.1}}</td><td>{{i.2}}</td></tr>
{% endifequal %}
{% ifequal i.0 '鮮奶' %}
 <tr><td>{{i.0}}</td><td>{{i.1}}</td><td>{{i.2}}</td></tr>
{% endifequal %}
{% ifequal i.0 '紅茶' %}
 <tr><td>{{i.0}}</td><td>{{i.1}}</td><td>{{i.2}}</td></tr>
{% endifequal %}


{% endfor %}
</tbody>
</table>


{% endif %}

{% endblock %}
