{% extends "Base.html" %}
{% block content %}
    {% if errorMessage %}
        <h3>{{ errorMessage }}</h3>
    {% endif %}

    <h3 class="page-title">登入</h3>
    <form action='' method="POST">
            {% csrf_token %}
        <div class="form-group">
            <label>請選擇店名</label>
            <select type="text" class="form-control" name="username">
                <option>政大</option>
                <option>西門</option>
                <option>復興</option>
            </select>
            <label>請輸入密碼</label>
            <input type="password" class="form-control" placeholder="密碼" name="password">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">登入</button>
        </div>
    </form>

{% endblock %}
