<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark h4">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">首頁</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    資料查詢
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'getStoreOrders' '1'%}">分店銷售紀錄</a>
                    <a class="dropdown-item" href="{% url 'getIngredients' '1'%}">原料銷售紀錄</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    銷售統計
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'getproductInfos' '1' '12'%}">產品銷售統計</a>
                    <a class="dropdown-item" href="{% url 'getEarnings' '12'%}">產品營業額統計</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    顧客分析
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <!--<a class="dropdown-item" href="{% url 'getCustomerIndex' '12'%}">顧客活動指標</a>-->
                    <a class="dropdown-item" href="{% url 'getRfm' '12'%}">RFM</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    作業管理
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/bom">物料清單</a>
                    <a class="dropdown-item" href="{% url 'getIngredientOrders' '12' %}">原料訂單預測</a>
                    <!-- <a class="dropdown-item" href="{% url 'getmaterialRequirementPlanning' '1' '12'%}">物料需求規劃</a> -->
                    <a class="dropdown-item" href="{% url 'getSchedule' '12' %}">排程</a>
                    <a class="dropdown-item" href="{% url 'handleStorage'  %}">庫存與訂購量</a>

                </div>
            </li>
    </div>
    {% if request.user.is_authenticated %}
    <span class="navbar-text">Hi: {{request.user}} <a href="{% url 'logout' %}">Logout</a></span>
    {% else %}
    <span class="navbar-text">Hi: visitor <a href="{% url 'login' %}">Login</a></span>
    {% endif %}
    </ul>
</nav>
