{% extends "Base.html" %}
{% block content %}

<form action='' method="POST">
        {% csrf_token %}
    <div class="form-container">
        <div class="form-group">
                <select class="form-control" name="date">
                    {% for date in dates %}
                    <option value="{{date}}">{{date}}月
                    </option>
                    {% endfor %}
                </select>
        </div>
        <div class="form-group">
                <select class="form-control" name="productId">
                    {% for product in products %}
                    <option value="{{product.id}}">{{product.name}}</option>
                    {% endfor %}
                </select>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">查詢</button>
        </div>
    </div>
</form>

<h1>{{salesVolumnInfo}}</h1>

<table class="table">
        <thead>
            <th>日期</th>
            <th>產品名稱</th>
            <th>數量</th>
            <th>店家名稱</th>
            <th>會員名</th>
        </thead>
        <tbody>
            {% for salesDetail in productInfos %}
<tr>
    <td>{{salesDetail.salesRecord.date}}</td>
    <td>{{salesDetail.product.name}}</td>
    <td>{{salesDetail.amount}}</td>
    <td>{{salesDetail.salesRecord.store.name}}</td>
    <td>{{salesDetail.salesRecord.member.name}}</td>
</tr>
{% endfor %}
    </tbody>
    </table>

<!--{{graph}}-->

{% endblock %}
