{% extends "Base.html" %}

{% block content %}
<h1>顧客分析 - RFM</h1>
<form action='' method="POST">
        {% csrf_token %}
    <div class="form-container">
        <div class="form-group">
                <select class="form-control" name="year">
                    {% for i in year %}
                    <option value="{{i}}">{{i}}年
                    </option>
                    {% endfor %}
                </select>
        </div>
        <div class="form-group">
                <select class="form-control" name="month">
                    {% for i in month %}
                    <option value="{{i}}">{{i}}月
                    </option>
                    {% endfor %}
                </select>
        </div>
        <div class="form-group">
        	<h3>最近購買日權重</h3>
                <select class="form-control" name="rfm_recencyWeight">
                    {% for i in rfm_recencyWeight %}
                    <option value="{{i}}">{{i}}
                    </option>
                    {% endfor %}
                </select>
        	<h3>購買頻率權重</h3>
                <select class="form-control" name="rfm_frequencyWeight">
                    {% for i in rfm_frequencyWeight %}
                    <option value="{{i}}">{{i}}
                    </option>
                    {% endfor %}
                </select>
        	<h3>購買金額權重</h3>
                <select class="form-control" name="rfm_monetaryValueWeight">
                    {% for i in rfm_monetaryValueWeight %}
                    <option value="{{i}}">{{i}}
                    </option>
                    {% endfor %}
                </select>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block">查詢</button>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <th>會員名稱</th>
        <th>RFM小組</th>
        <th>加權分數</th>
    </thead>
    <tbody>
           {% for i in rfmList %}
           <tr><td>{{i.0}}</td><td>{{i.1}},{{i.2}},{{i.3}}</td><td>{{i.4}}</td></tr>
           {% endfor %}
	</tbody>
</table>
{% endblock %}
