{% extends "Base.html" %}
{% block content %}

<h1><b>排程(備料)</b></h1>


<form action='' method='post'>
    {% csrf_token %}
{{ form.as_p }}
<input type='submit' value='Submit' />
</form>
{{ error }}
{{errorMessage}}

{{dateInfo}}
<table class="table">
        <thead>
        	{% for i in period %}
            <th>{{i}}</th>
            {% endfor %}

        </thead>
{% for i in employeeList %}
 <tr><td>{{i.0}}</td><td>{{i.1}}</td><td>{{i.2}}</td><td>{{i.3}}</td><td>{{i.4}}</td><td>{{i.5}}</td><td>{{i.6}}</td><td>{{i.7}}</td><td>{{i.8}}</tr> </td> 
{% endfor %}

</table>
</h4>

{% endblock %}