{% extends "Base.html" %}
{% block content %}

<h1><b>庫存</b></h1>


<form action='' method='post'>
    {% csrf_token %}
{{ form.as_p }}
<input type='submit' value='Submit' />
</form>
{{ error }}
{{errorMessage}}

{{dateInfo}}
<table class="table">
        <thead>
        	
            <th>原料</th>
            <th>庫存量</th>
            

        </thead>
        <tbody>
{% for i in storages %}
{% ifequal i.0 '番茄醬' %}
 <tr><td>{{i.0}}</td><td>{{i.1}}</td><td>{{i.2}}</td></tr>
{% endifequal %}
{% ifequal i.0 '黃芥末醬' %}
 <tr><td>{{i.0}}</td><td>{{i.1}}</td><td>{{i.2}}</td></tr>
{% endifequal %}
{% ifequal i.0 '脆薯(冷凍包)' %}
 <tr><td>{{i.0}}</td><td>{{i.1}}</td><td>{{i.2}}</td></tr>
{% endifequal %}
{% endfor %}
</tbody>
</table>
</h4>

{% endblock %}