{% extends "Base.html" %}
{% block content %}
{% comment %} 取用method {% endcomment %}
    <div class="display-area">
        <div class='col-sm-6'>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>

{% comment %} 顯示圖表 {% endcomment %}
<script>
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    $.ajax({
        method: "GET",
        url: '/api/product/1/store/{{store.id}}/2018/month/',
        success: function(data){
            labels=data.labels
            defaultData = data.detail
            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: '# of Sale',
                        data: defaultData,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
        }
    })
</script>

<table class="table">
        <thead>
            <th>日期</th>
            <th>產品名稱</th>
            <th>數量</th>
            <th>店家名稱</th>
            <th>會員名</th>
        </thead>
        <tbody>
            {% for salesDetail in salesDetails %}
            <tr>
                <td>{{salesDetail.salesRecord.date}}</td>
                <td>{{salesDetail.product.name}}</td>
                <td>{{salesDetail.amount}}</td>
                <td>{{salesDetail.salesRecord.store.name}}</td>
                <td>{{salesDetail.salesRecord.member.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>

<nav aria-label="Page navigation">
  <ul class="pagination">
    {% if salesDetails.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %}
    {% for i in salesDetails.paginator.page_range %}
    {% if salesDetails.number > 3 and forloop.first %}
      <li class="page-item">
        <a class="page-link" href="?page=1">1</a>
      </li>
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">
          <span aria-hidden="true">&hellip;</span>
        </a>
      </li>
    {%endif%}
        {% if salesDetails.number == i %}
        <li class="page-item active">
          <a class="page-link" href="#">{{ i }}<span class="sr-only">(current)</span></a>
        </li>
        {% elif i > salesDetails.number|add:'-3' and i < salesDetails.number|add:'3'  %}
          <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
        {% endif %}
        {% if salesDetails.paginator.num_pages > salesDetails.number|add:'3' and forloop.last %}
        <li class="page-item">
          <a class="page-link" href="#">⋯</a>
        </li>
        <li>{{ page.paginator.num_pages }}</li>
        {% endif %}
    {% endfor %}
    {% if salesDetails.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ max }}">{{ max }}</a>
      </li>
      <li class="page-item">
        <a class="page-link" aria-label="Next" href="?page={{ page.next_page_number }}">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    {% endif %}
  </ul>
{% endblock %}
