<html><body>
<h1>{{data.store}}</h1>

    <table class="table table-dark">
    <thead>
        <tr>
        <th scope="col">食材</th>
        <th scope="col">數量</th>
        <th scope="col">單位</th>
        <th scope="col">進貨時間</th>
        </tr>
    </thead>
    <tbody>
        {% for data in data %}
        <tr>
            <th scope="row">{{data.ingredient.name}}</th>
            <td>{{data.quantity}}</td>
            <td>{{data.unit}}</td>
            <td>{{data.importDate}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{{data}}
</body></html>
